#vectr {
  width: 800px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

.span {
  width: 100%;
}

.inline {
  display: inline-block;
}

.color {
  width: 24px;
  height: 24px;
  margin: 5px;
  padding: 0px;
}

.value {
  width: 32px;
  margin-right: 8px;
}

.slider {
  margin-right: 8px;
}

.range-0  { background: #ff0000; }
.range-01 { background: -webkit-linear-gradient(left, #ff0000 0%, #ffff00 50%, #00ff00 100%); }
.range-1  { background: #00ff00; }
.range-12 { background: -webkit-linear-gradient(left, #00ff00 0%, #00ffff 50%, #0000ff 100%); }
.range-2  { background: #0000ff; }
